In [1]:
import pandas as pd
import numpy as np
import requests

In [36]:
DF = pd.read_csv('1hour\AL1h.csv',sep=',',encoding='gb2312')
DF = DF.iloc[:,0:6]
DF.columns = ['time','open','high','low','close','vol']

In [37]:
DF

                   time   open   high    low  close    vol
0      2014/01/02 09:00  14010  14045  14000  14025   1502
1      2014/01/02 10:00  14025  14035  14020  14035    516
2      2014/01/02 11:00  14030  14035  14025  14025    514
3      2014/01/02 13:00  14030  14050  14030  14045    796
4      2014/01/02 14:00  14045  14065  14045  14055   2052
5      2014/01/02 21:00  14030  14035  13985  14010   1092
6      2014/01/02 22:00  14010  14020  14010  14010    318
7      2014/01/02 23:00  14010  14015  14005  14015    158
8      2014/01/03 00:00  14015  14020  14005  14005    200
9      2014/01/03 09:00  14010  14020  14000  14015    788
10     2014/01/03 10:00  14015  14020  14005  14005    710
11     2014/01/03 11:00  14010  14010  14000  14010    220
12     2014/01/03 13:00  14005  14010  14000  14000    800
13     2014/01/03 14:00  14000  14010  14000  14010    916
14     2014/01/03 21:00  13995  14010  13985  14005    542
15     2014/01/03 22:00  14005  14010  13990  14000    308
16     2014/01/03 23:00  14000  14015  14000  14010    110
17     2014/01/04 00:00  14005  14005  13990  13990     78
18     2014/01/06 09:00  13990  14010  13985  13985   1580
19     2014/01/06 10:00  13990  13995  13985  13985    840
20     2014/01/06 11:00  13980  13980  13970  13975    984
21     2014/01/06 13:00  13970  13975  13965  13970    616
22     2014/01/06 14:00  13970  13970  13920  13920   2648
23     2014/01/06 21:00  13925  13945  13920  13930    666
24     2014/01/06 22:00  13925  13940  13915  13940    218
25     2014/01/06 23:00  13940  13945  13915  13915     62
26     2014/01/07 00:00  13920  13940  13915  13935     68
27     2014/01/07 09:00  13925  13935  13920  13920    940
28     2014/01/07 10:00  13925  13930  13920  13925    808
29     2014/01/07 11:00  13930  13930  13915  13920    296
...                 ...    ...    ...    ...    ...    ...
10218  2018/09/13 21:00  14540  14620  14535  14575  58626
10219  2018/09/13 22:00  14575  14595  14540  14595  37206
10220  2018/09/13 23:00  14595  14625  14565  14575  25112
10221  2018/09/14 00:00  14575  14585  14560  14570   5714
10222  2018/09/14 09:00  14570  14600  14565  14575  18802
10223  2018/09/14 10:00  14580  14640  14580  14620  33038
10224  2018/09/14 11:00  14620  14625  14600  14615  10958
10225  2018/09/14 13:00  14615  14625  14585  14585  10726
10226  2018/09/14 14:00  14590  14600  14570  14585  30874
10227  2018/09/14 21:00  14610  14635  14590  14610  35364
10228  2018/09/14 22:00  14610  14620  14550  14565  29216
10229  2018/09/14 23:00  14565  14590  14560  14575  17934
10230  2018/09/15 00:00  14575  14580  14545  14555  15528
10231  2018/09/17 09:00  14530  14560  14495  14540  45076
10232  2018/09/17 10:00  14540  14545  14505  14525  17854
10233  2018/09/17 11:00  14525  14525  14510  14525   6748
10234  2018/09/17 13:00  14515  14515  14450  14460  32508
10235  2018/09/17 14:00  14465  14485  14430  14445  34344
10236  2018/09/17 21:00  14480  14495  14460  14470  26814
10237  2018/09/17 22:00  14470  14505  14465  14470  18662
10238  2018/09/17 23:00  14465  14505  14455  14480  19724
10239  2018/09/18 00:00  14475  14490  14470  14470   6460
10240  2018/09/18 09:00  14470  14475  14400  14425  33876
10241  2018/09/18 10:00  14425  14470  14425  14455  17696
10242  2018/09/18 11:00  14455  14470  14450  14460  10570
10243  2018/09/18 13:00  14465  14475  14455  14470   6792
10244  2018/09/18 14:00  14470  14490  14465  14485  21372
10245  2018/09/18 21:00  14520  14525  14475  14480  33988
10246  2018/09/18 22:00  14485  14485  14435  14460  29282
10247  2018/09/18 23:00  14465  14470  14440  14465   9630

[10248 rows x 6 columns]

In [38]:
link_60m = 'http://stock2.finance.sina.com.cn/futures/api/json.php/IndexService.getInnerFuturesMiniKLine60m?symbol=AL0'
r_01 = requests.get(link_60m)
New_Data = pd.DataFrame(r_01.json(),columns =['Date','Open','High','Low','Close','Vol'])

In [39]:
New_Data

                    Date       Open       High        Low      Close    Vol
0    2018-09-19 11:30:00  14505.000  14510.000  14490.000  14505.000   7360
1    2018-09-19 11:00:00  14480.000  14520.000  14480.000  14500.000  18190
2    2018-09-19 10:00:00  14455.000  14495.000  14455.000  14480.000  14284
3    2018-09-19 02:00:00  14455.000  14455.000  14455.000  14455.000     24
4    2018-09-19 01:00:00  14460.000  14465.000  14450.000  14450.000   4020
5    2018-09-19 00:00:00  14460.000  14470.000  14440.000  14460.000   8186
6    2018-09-18 23:00:00  14470.000  14475.000  14435.000  14465.000  25324
7    2018-09-18 22:00:00  14515.000  14525.000  14475.000  14480.000  29296
8    2018-09-18 15:00:00  14470.000  14490.000  14465.000  14480.000  15190
9    2018-09-18 14:00:00  14475.000  14475.000  14455.000  14470.000   5746
10   2018-09-18 11:30:00  14455.000  14470.000  14450.000  14460.000   7554
11   2018-09-18 11:00:00  14430.000  14465.000  14430.000  14450.000  11864
12   2018-09-18 10:00:00  14465.000  14465.000  14405.000  14430.000  22188
13   2018-09-18 01:00:00  14475.000  14490.000  14470.000  14470.000   5090
14   2018-09-18 00:00:00  14465.000  14505.000  14455.000  14475.000  15188
15   2018-09-17 23:00:00  14485.000  14500.000  14470.000  14470.000  16172
16   2018-09-17 22:00:00  14470.000  14490.000  14465.000  14470.000  22570
17   2018-09-17 15:00:00  14460.000  14485.000  14440.000  14445.000  24492
18   2018-09-17 14:00:00  14510.000  14510.000  14455.000  14470.000  21426
19   2018-09-17 11:30:00  14525.000  14525.000  14510.000  14520.000   4450
20   2018-09-17 11:00:00  14545.000  14545.000  14510.000  14525.000  13552
21   2018-09-17 10:00:00  14520.000  14550.000  14505.000  14545.000  29140
22   2018-09-15 01:00:00  14560.000  14570.000  14545.000  14555.000  11094
23   2018-09-15 00:00:00  14565.000  14585.000  14560.000  14580.000  15176
24   2018-09-14 23:00:00  14610.000  14615.000  14555.000  14570.000  24408
25   2018-09-14 22:00:00  14615.000  14630.000  14590.000  14610.000  29056
26   2018-09-14 15:00:00  14595.000  14595.000  14575.000  14590.000  25614
27   2018-09-14 14:00:00  14615.000  14615.000  14585.000  14585.000   6948
28   2018-09-14 11:30:00  14620.000  14625.000  14600.000  14615.000   7460
29   2018-09-14 11:00:00  14580.000  14635.000  14580.000  14620.000  25604
..                   ...        ...        ...        ...        ...    ...
170  2018-08-25 00:00:00  14840.000  14860.000  14810.000  14830.000  21612
171  2018-08-24 23:00:00  14815.000  14840.000  14810.000  14835.000  21636
172  2018-08-24 22:00:00  14800.000  14845.000  14790.000  14805.000  37184
173  2018-08-24 15:00:00  14780.000  14805.000  14765.000  14805.000  28622
174  2018-08-24 14:00:00  14795.000  14810.000  14770.000  14775.000  24278
175  2018-08-24 11:30:00  14735.000  14770.000  14730.000  14770.000  15330
176  2018-08-24 11:00:00  14720.000  14740.000  14715.000  14730.000  13110
177  2018-08-24 10:00:00  14755.000  14755.000  14710.000  14725.000  20990
178  2018-08-24 02:00:00  14750.000  14750.000  14750.000  14750.000     10
179  2018-08-24 01:00:00  14740.000  14755.000  14730.000  14755.000   4568
180  2018-08-24 00:00:00  14735.000  14750.000  14730.000  14740.000  11482
181  2018-08-23 23:00:00  14685.000  14770.000  14685.000  14740.000  43704
182  2018-08-23 22:00:00  14640.000  14700.000  14620.000  14680.000  34878
183  2018-08-23 15:00:00  14680.000  14680.000  14635.000  14635.000  19052
184  2018-08-23 14:00:00  14660.000  14690.000  14660.000  14680.000   8140
185  2018-08-23 11:30:00  14655.000  14665.000  14645.000  14665.000   9742
186  2018-08-23 11:00:00  14680.000  14690.000  14645.000  14665.000  16628
187  2018-08-23 10:00:00  14660.000  14715.000  14655.000  14695.000  19954
188  2018-08-23 02:00:00  14670.000  14670.000  14670.000  14670.000     22
189  2018-08-23 01:00:00  14660.000  14670.000  14655.000  14665.000   3628
190  2018-08-23 00:00:00  14665.000  14665.000  14630.000  14655.000   9290
191  2018-08-22 23:00:00  14690.000  14705.000  14645.000  14655.000  16272
192  2018-08-22 22:00:00  14655.000  14705.000  14650.000  14695.000  30026
193  2018-08-22 15:00:00  14650.000  14665.000  14615.000  14655.000  26632
194  2018-08-22 14:00:00  14705.000  14705.000  14645.000  14645.000  16658
195  2018-08-22 11:30:00  14670.000  14690.000  14670.000  14690.000   5182
196  2018-08-22 11:00:00  14705.000  14705.000  14665.000  14670.000  14746
197  2018-08-22 10:00:00  14705.000  14755.000  14680.000  14705.000  22068
198  2018-08-22 02:00:00  14710.000  14710.000  14710.000  14710.000      4
199  2018-08-22 01:00:00  14655.000  14700.000  14650.000  14700.000   6856

[200 rows x 6 columns]

In [40]:
list(New_Data.Date)[-1]

'2018-08-22 01:00:00'

In [17]:
Type_List_01 = pd.Series({'CU':'沪铜',
            'NI':'沪镍',
            'J9':'焦炭',
            'PB':'沪铅',
            'JM':'焦煤',
            'I9':'铁矿',
            'JD':'鸡蛋',
            'RU':'橡胶',
            'Y9':'豆油',
            'SR':'白糖',
            'AL':'沪铝',
            'HC':'热卷',
            'RB':'螺纹',
            'ZC':'郑煤',
            'MA':'甲醇',
            'ZN':'沪锌',
            'RM':'菜粕',
            'C9':'玉米',
            'M9':'豆粕'})

In [33]:
for name in Type_List_01.index:
    try:
        DF = pd.read_csv('1hour\\'+name+'1h.csv',sep=',',encoding='gb2312')
        DF = DF.iloc[:,0:6]
        DF.columns = ['time','open','high','low','close','vol'] 
        print(Type_List_01[name]+':'+str(DF.time[0]))
    except:
        print(name+'Wrong')

沪铝:2014/01/02 09:00
玉米:2014/01/02 09:00
沪铜:2014/01/02 09:00
热卷:2014/03/21 09:00
铁矿:2014/01/02 09:00
焦炭:2014/01/02 09:00
鸡蛋:2014/01/02 09:00
焦煤:2014/01/02 09:00
豆粕:2014/01/02 09:00
甲醇:2014/06/18 09:00
沪镍:2015/03/27 09:00
沪铅:2014/01/02 09:00
螺纹:2014/01/02 09:00
菜粕:2014/01/02 09:00
橡胶:2014/01/02 09:00
白糖:2014/01/02 09:00
豆油:2014/01/02 09:00
郑煤:2015/05/18 09:00
沪锌:2014/01/02 09:00

In [34]:
for name in Type_List_01.index:
    try:
        DF = pd.read_csv('30min\\'+name+'30m.csv',sep=',',encoding='gb2312')
        DF = DF.iloc[:,0:6]
        DF.columns = ['time','open','high','low','close','vol'] 
        print(Type_List_01[name]+':'+str(DF.time[0]))
    except:
        print(name+'Wrong')

沪铝:2014/01/02 09:00
玉米:2014/01/02 09:00
沪铜:2014/01/02 09:00
热卷:2014/03/21 09:00
铁矿:2014/01/02 09:00
焦炭:2014/01/02 09:00
鸡蛋:2014/01/02 09:00
焦煤:2014/01/02 09:00
豆粕:2014/01/02 09:00
甲醇:2014/06/18 09:00
沪镍:2015/03/27 09:00
沪铅:2014/01/02 09:00
螺纹:2014/01/02 09:00
菜粕:2014/01/02 09:00
橡胶:2014/01/02 09:00
白糖:2014/01/02 09:00
豆油:2014/01/02 09:00
郑煤:2015/05/18 09:00
沪锌:2014/01/02 09:00

In [35]:
for name in Type_List_01.index:
    try:
        DF = pd.read_csv('15min\\'+name+'15m.csv',sep=',',encoding='gb2312')
        DF = DF.iloc[:,0:6]
        DF.columns = ['time','open','high','low','close','vol'] 
        print(Type_List_01[name]+':'+str(DF.time[0]))
    except:
        print(name+'Wrong')

沪铝:2014/01/02 09:00
玉米:2014/01/02 09:00
沪铜:2014/01/02 09:00
热卷:2014/03/21 09:00
铁矿:2014/01/02 09:00
焦炭:2014/01/02 09:00
鸡蛋:2014/01/02 09:00
焦煤:2014/01/02 09:00
豆粕:2014/01/02 09:00
甲醇:2014/06/18 09:00
沪镍:2015/03/27 09:00
沪铅:2014/01/02 09:00
螺纹:2014/01/02 09:00
菜粕:2014/01/02 09:00
橡胶:2014/01/02 09:00
白糖:2014/01/02 09:00
豆油:2014/01/02 09:00
郑煤:2015/05/18 09:00
沪锌:2014/01/02 09:00